body{
    background-color: white;
    cursor: default;
    margin: 0;
    padding: 0;
    width: 100%;
}
/*INICIO*/
.logo1{
    width: 56px;
    max-width: 100%;
}

.inicio{
    display: flex;         
    justify-content: center; 
    align-items: center;    
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.paginas-header{
    font-size: 10px;
    font-family: Impact;
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

.titulo-seccion1{
    text-align: center;
text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-shadow: 2px 2px 6px rgba(70, 70, 70, 10.0);
}

.paginas-header:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
/*PRIMERA-SECCION*/
.seccion1{
    background-image: url('IMAGENES/fondo1.jpg');
    background-size: cover; 
    background-position: center; 
    height: 300px;
    width: 100%;
    opacity: 80%;
}

@media (min-width: 768px){
    .seccion1{
        height: 400px;
    }
    .inicio{
        justify-content: space-between;
        padding: 1rem 2rem;
    }
}

@media (min-width: 1024px){
    .seccion1{
        height: 500px;
    }
    .logo1{
        width: 250px;
    }
}
/*SECCION 2*/
.seccion2{
    text-align: center;
}
.titulo-seccion{
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
    color: black;
}

.galeria-trabajos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px; 
}
.img-galeria-trabajos{
    width: 150px;
    margin: 20px;
    border: 3px solid gray;
}

.img-galeria-trabajos {
    opacity: 0;
    transform: translateY(50px);
    animation: aparecer 1.5s forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Seccion 3*/
.artistas {
    display: flex; /* Cambia inline por flex */
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.img-artistas {
    width: 100px;
    border-radius: 60px;
    border: 3px solid gray;
    opacity: 0;
    transform: translateY(50px);
    animation: aparecer 1.5s forwards;
}

.nom-artistas {
    margin-top: 10px;
    text-align: center;
    width: 100px;
}

.artistas > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}